#formPanel { 
	margin: 1em; 
}

#SavingPlanInputsLegend {
	background-color: #273359;
	color: white;
}

#SavingPlanInputsForm {
	background-color: #e4e8f3;
}
#SummaryOfResultLegend {
	background-color: #085108;
	color: white;
}
#SummaryOfResultForm {
	background-color: #d6f4d9; 
}
.savingPlansHr {
	border-color: #8394c9!important
}
.resultHr{
	border-color: #109618!important;
}

/*#myChart {
	height: 400; 
	width: 100;
}
*/