<!doctype html>
<html lang="en" ng-app="savingsInterestApp">
<head>
  <meta charset="utf-8">
  <title>Savings Interest</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  
  <script src="bower_components/chartJS/Chart.js" ></script>
  <script src="js/app.js"></script>

</head>
<body ng-controller="calculatorCtr">
  <div class="container-fluid">
    <div class="panel panel-default" id="formPanel">
      <div class="panel-body">
        <center>
          <h1>Savings Interest Calculator</h1>
        </center>

        <div class="row">

          <div class="col-md-6">
            <div class="panel panel-default" id="SavingPlanInputsForm">
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group" >
                    <legend id="SavingPlanInputsLegend">Savings Plan Inputs</legend>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="numOfYears">Years To Invest</label>
                    <div class="col-md-6">
                      <input type="number" name="numOfYears" id="inputNumOfYears" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="yearsToInvest" ng-change="changeEvent()">
                    </div>
                  </div>

                  <div class="form-group">

                    <label class="col-sm-6 control-label" for="intialInvestment">Initial Investment</label>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" name="intialInvestment" id="inputIntialInvestment" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="initInvest" ng-change="changeEvent()">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="annualRate">Expected Annual Interest Rate</label>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">%</div>
                        <input type="number" name="annualRate" id="inputAnnualRate" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="interestRate" ng-change="changeEvent()">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <legend class="savingPlansHr"> Scheduled Deposits </legend>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="depositAmount">Deposit Amount</label>
                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" name="depositAmount" id="inputDepositAmount" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="depositAmount" ng-change="changeEvent()">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="depositFreq">Deposit Frequency</label>
                    <div class="col-md-6">
                      <select name="depositFreq" id="inputDepositFre" class="form-control" ng-options="freq for freq in depositsFreq" ng-model ="depostitFreq" ng-change="changeEvent()"></select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="addAnualInvest">Additional Annual Investment</label>
                    <div class="col-md-6">
                      <input type="number" name="addAnualInvest" id="inputAddAnualInvest" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="extraAnnualDeposit" ng-change="changeEvent()">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-body" id ="SummaryOfResultForm">
                <form class="form-horizontal" role="form" >

                  <div class="form-group">
                    <legend id="SummaryOfResultLegend">Summary of Results</legend>
                  </div>

                  <div class="form-group">
                    <legend class="resultHr">Estimated Future value</legend>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="valueAfterYears">Value After {{ yearsToInvest }} Years</label>

                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" name="valueAfterYears" id="inputValueAfterYears" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="futureValue">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <legend class="resultHr">Gain / Loss Summary</legend>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="totalInterested">Total Invested</label>

                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" name="totalInterested" id="inputtotalInterested" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="totalInvested">
                      </div>
                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-6 control-label" for="interestedEarned"><b>Interest</b> Earned</label>

                    <div class="col-md-6">
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" name="interestedEarned" id="inputInterestedEarned" class="form-control" value="" min="0" max="" step="1" required="required" title="" ng-model="totalInterest">
                      </div>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- form panel end -->
    <div class="panel panel-default">
      <div class="panel-body">
        <canvas id="myChart" ng-click="drawChart()" class ="col-md-12" width="1200" height="500"></canvas>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th> Year </th>
              <th> Rate </th>
              <th> Interest </th>
              <th> Scheduled <br> Deposits </th>

              <th> Extra Annual <br> Deposits </th>
              <th> Balance </th>
            </tr>
          </thead>
          <tbody ng-repeat="obj in arrayList">
            <tr>
              <td> {{ obj.id }} </td>
              <td> {{ obj.rate }}%</td>
              <td> ${{ obj.interest }} </td>
              <td> ${{ obj.depositAmount }} </td>
              <td> ${{ obj.extraAnnualDeposit }} </td>
              <td> ${{ obj.balance }} </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</body>
</html>
